*{
    padding: 0%;
    margin: 0%;
}
.nav-menu{
    background-color: yellow;
    font-size: 35px;
    position:absolute ;
    width: 100px;
    height: 100px;
}

.nav-menu ul li{
    float: left;
    margin-left: 100px;
    list-style-type: none;
    text-transform: uppercase;
}

.nav-menu ul li a{
    text-decoration: none;
}

.img-background{
    padding-top: 100px;
    background-image: url(./image/download.png);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-background p{
    font-size: 35;
    color: black;
}

.nav-menu ul li a:hover{
    color: antiquewhite;
}

.nav-menu ul li:hover{background-color: black;
}
.overall-container{
    display: flex;
    margin: 50px;
}
.img-container1 img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.img-container2 img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 50px;
}

.text-container1, .text-container2{
    margin-left: 20px;
}

.text-container1 p, .text-container2 p{
    text-decoration: underline;
    color: blueviolet;
}

.contact-details{
    display: flex;
}
.contact-details{
    display: flex;
    padding-top: 120px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 20px;
}

.contact-text{
    margin-right: 120px;
}
.contact-form{
    width: 70px;
    height: 70px;
}

.contact-text p{
font-size: 35px;
line-height: 95px;
}
#button-submit{
    height: 35px;
    width: 80px;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: black;
    color: aqua;
    cursor: pointer;
}
textarea{
    height: 15vh;
    width: 250px;
}
#button-submit:hover{
    background-color: yellow;
    color: black;
}

.contact-text h2{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-container{
    background-color: bisque;
}
.footer-container ul li a{
    text-decoration: none;
    color: blue;
    font-size: large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.footer-container ul li{
    list-style-type: none;
    padding-top: 20px;
}

.footer-container p{
    padding-left: 70px;
    padding-bottom: 20px;
    color: aqua;
}